<a href="https://colab.research.google.com/github/ussalbt/Python/blob/main/w2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [188]:
## Ignore Warnings
import warnings
warnings.filterwarnings("ignore")
warnings.warn("this will not show")

In [189]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
# %matplotlib notebook
plt.rcParams["figure.figsize"] = (10,6)
# plt.rcParams['figure.dpi'] = 100
sns.set_style("whitegrid")
pd.set_option('display.float_format', lambda x: '%.3f' % x)
pd.options.display.max_rows = 100
pd.options.display.max_columns = 100

In [190]:
df = pd.read_json ('/content/sample_data/scout_car.json', lines = True)

In [191]:
df.columns = df.columns.str.lower().str.replace("\n","").str.replace(" & ","&").str.replace(" ","_")
df.columns

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat',
       'km', 'registration', 'prev_owner', 'kw', 'hp', 'type',
       'previous_owners', 'next_inspection', 'inspection_new', 'warranty',
       'full_service', 'non-smoking_vehicle', 'null', 'make', 'model',
       'offer_number', 'first_registration', 'body_color', 'paint_type',
       'body_color_original', 'upholstery', 'body', 'nr._of_doors',
       'nr._of_seats', 'model_code', 'gearing_type', 'displacement',
       'cylinders', 'weight', 'drive_chain', 'fuel', 'consumption',
       'co2_emission', 'emission_class', 'comfort&convenience',
       'entertainment&media', 'extras', 'safety&security', 'description',
       'emission_label', 'gears', 'country_version', 'electricity_consumption',
       'last_service_date', 'other_fuel_types', 'availability',
       'last_timing_belt_service_date', 'available_from'],
      dtype='object')

In [192]:
df.head().T

,0,1,2,3,4
url,https://www.autoscout24.com//offers/audi-a1-sp...,https://www.autoscout24.com//offers/audi-a1-1-...,https://www.autoscout24.com//offers/audi-a1-sp...,https://www.autoscout24.com//offers/audi-a1-1-...,https://www.autoscout24.com//offers/audi-a1-sp...
make_model,Audi A1,Audi A1,Audi A1,Audi A1,Audi A1
short_description,Sportback 1.4 TDI S-tronic Xenon Navi Klima,1.8 TFSI sport,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,1.4 TDi Design S tronic,Sportback 1.4 TDI S-Tronic S-Line Ext. admired...
body_type,Sedans,Sedans,Sedans,Sedans,Sedans
price,15770,14500,14640,14500,16790
vat,VAT deductible,Price negotiable,VAT deductible,None,None
km,"56,013 km","80,000 km","83,450 km","73,000 km","16,200 km"
registration,01/2016,03/2017,02/2016,08/2016,05/2016
prev_owner,2 previous owners,None,1 previous owner,1 previous owner,1 previous owner
kw,NaN,NaN,NaN,NaN,NaN
hp,66 kW,141 kW,85 kW,66 kW,66 kW
type,"[, Used, , Diesel (Particulate Filter)]","[, Used, , Gasoline]","[, Used, , Diesel (Particulate Filter)]","[, Used, , Diesel (Particulate Filter)]","[, Used, , Diesel (Particulate Filter)]"
previous_owners,\n2\n,NaN,\n1\n,\n1\n,\n1\n
next_inspection,"[\n06/2021\n, \n99 g CO2/km (comb)\n]",NaN,NaN,NaN,NaN
inspection_new,"[\nYes\n, \nEuro 6\n]",NaN,NaN,NaN,"[\nYes\n, \n109 g CO2/km (comb)\n]"
warranty,"[\n, \n, \n4 (Green)\n]",NaN,"[\n, \n, \n99 g CO2/km (comb)\n]",NaN,"[\n, \n, \nEuro 6\n]"
full_service,"[\n, \n]",NaN,NaN,"[\n, \n, \n99 g CO2/km (comb)\n]","[\n, \n, \n4 (Green)\n]"
non-smoking_vehicle,"[\n, \n]",NaN,NaN,"[\n, \n, \nEuro 6\n]","[\n, \n]"
null,[],[],[],[],[]
make,\nAudi\n,\nAudi\n,\nAudi\n,\nAudi\n,\nAudi\n
model,"[\n, A1, \n]","[\n, A1, \n]","[\n, A1, \n]","[\n, A1, \n]","[\n, A1, \n]"
offer_number,[\nLR-062483\n],NaN,[\nAM-95365\n],NaN,[\nC1626\n]
first_registration,"[\n, 2016, \n]","[\n, 2017, \n]","[\n, 2016, \n]","[\n, 2016, \n]","[\n, 2016, \n]"
body_color,"[\n, Black, \n]","[\n, Red, \n]","[\n, Black, \n]","[\n, Brown, \n]","[\n, Black, \n]"
paint_type,[\nMetallic\n],NaN,[\nMetallic\n],[\nMetallic\n],[\nMetallic\n]
body_color_original,[\nMythosschwarz\n],NaN,[\nmythosschwarz metallic\n],NaN,[\nMythosschwarz Metallic\n]
upholstery,"[\nCloth, Black\n]","[\nCloth, Grey\n]","[\nCloth, Black\n]",NaN,"[\nCloth, Black\n]"
body,"[\n, Sedans, \n]","[\n, Sedans, \n]","[\n, Sedans, \n]","[\n, Sedans, \n]","[\n, Sedans, \n]"
nr._of_doors,[\n5\n],[\n3\n],[\n4\n],[\n3\n],[\n5\n]
nr._of_seats,[\n5\n],[\n4\n],[\n4\n],[\n4\n],[\n5\n]
model_code,[\n0588/BDF\n],[\n0588/BCY\n],NaN,NaN,[\n0588/BDF\n]
gearing_type,"[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]"
displacement,"[\n1,422 cc\n]","[\n1,798 cc\n]","[\n1,598 cc\n]","[\n1,422 cc\n]","[\n1,422 cc\n]"
cylinders,[\n3\n],[\n4\n],NaN,[\n3\n],[\n3\n]
weight,"[\n1,220 kg\n]","[\n1,255 kg\n]",NaN,"[\n1,195 kg\n]",NaN
drive_chain,[\nfront\n],[\nfront\n],[\nfront\n],NaN,[\nfront\n]
fuel,"[\n, Diesel (Particulate Filter), \n]","[\n, Gasoline, \n]","[\n, Diesel (Particulate Filter), \n]","[\n, Diesel (Particulate Filter), \n]","[\n, Diesel (Particulate Filter), \n]"
consumption,"[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...","[[5.6 l/100 km (comb)], [7.1 l/100 km (city)],...","[[3.8 l/100 km (comb)], [4.4 l/100 km (city)],...","[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...","[[4.1 l/100 km (comb)], [4.6 l/100 km (city)],..."
co2_emission,[\n99 g CO2/km (comb)\n],[\n129 g CO2/km (comb)\n],[\n99 g CO2/km (comb)\n],[\n99 g CO2/km (comb)\n],[\n109 g CO2/km (comb)\n]
emission_class,[\nEuro 6\n],[\nEuro 6\n],[\nEuro 6\n],[\nEuro 6\n],[\nEuro 6\n]
comfort&convenience,"[Air conditioning, Armrest, Automatic climate ...","[Air conditioning, Automatic climate control, ...","[Air conditioning, Cruise control, Electrical ...","[Air suspension, Armrest, Auxiliary heating, E...","[Air conditioning, Armrest, Automatic climate ..."
entertainment&media,"[Bluetooth, Hands-free equipment, On-board com...","[Bluetooth, Hands-free equipment, On-board com...","[MP3, On-board computer]","[Bluetooth, CD player, Hands-free equipment, M...","[Bluetooth, CD player, Hands-free equipment, M..."
extras,"[Alloy wheels, Catalytic Converter, Voice Cont...","[Alloy wheels, Sport seats, Sport suspension, ...","[Alloy wheels, Voice Control]","[Alloy wheels, Sport seats, Voice Control]","[Alloy wheels, Sport package, Sport suspension..."
safety&security,"[ABS, Central door lock, Daytime running light...","[ABS, Central door lock, Central door lock wit...","[ABS, Central door lock, Daytime running light...","[ABS, Alarm system, Central door lock with rem...","[ABS, Central door lock, Driver-side airbag, E..."
description,"[\n, Sicherheit:, , Deaktivierung f√ºr Beifahr...",[\nLangstreckenfahrzeug daher die hohe Kilomet...,"[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 2...","[\nAudi A1: , - 1e eigenaar , - Perfecte staat...","[\n, Technik & Sicherheit:, Xenon plus, Klimaa..."
emission_label,NaN,[\n4 (Green)\n],[\n4 (Green)\n],NaN,NaN
gears,NaN,[\n7\n],NaN,[\n6\n],NaN
country_version,NaN,NaN,NaN,NaN,[\nGermany\n]
electricity_consumption,NaN,NaN,NaN,NaN,NaN
last_service_date,NaN,NaN,NaN,NaN,NaN
other_fuel_types,NaN,NaN,NaN,NaN,NaN
availability,NaN,NaN,NaN,NaN,NaN
last_timing_belt_service_date,NaN,NaN,NaN,NaN,NaN
available_from,NaN,NaN,NaN,NaN,NaN

In [193]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 54 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   url                            15919 non-null  object
 1   make_model                     15919 non-null  object
 2   short_description              15873 non-null  object
 3   body_type                      15859 non-null  object
 4   price                          15919 non-null  int64
 5   vat                            11406 non-null  object
 6   km                             15919 non-null  object
 7   registration                   15919 non-null  object
 8   prev_owner                     9091 non-null   object
 9   kw                             0 non-null      float64
 10  hp                             15919 non-null  object
 11  type                           15917 non-null  object
 12  previous_owners                9279 non-null   object
 13  next_inspection                3535 non-null   object
 14  inspection_new                 3932 non-null   object
 15  warranty                       10499 non-null  object
 16  full_service                   8215 non-null   object
 17  non-smoking_vehicle            7177 non-null   object
 18  null                           15919 non-null  object
 19  make                           15919 non-null  object
 20  model                          15919 non-null  object
 21  offer_number                   12744 non-null  object
 22  first_registration             14322 non-null  object
 23  body_color                     15322 non-null  object
 24  paint_type                     10147 non-null  object
 25  body_color_original            12160 non-null  object
 26  upholstery                     12199 non-null  object
 27  body                           15859 non-null  object
 28  nr._of_doors                   15707 non-null  object
 29  nr._of_seats                   14942 non-null  object
 30  model_code                     4978 non-null   object
 31  gearing_type                   15919 non-null  object
 32  displacement                   15423 non-null  object
 33  cylinders                      10239 non-null  object
 34  weight                         8945 non-null   object
 35  drive_chain                    9061 non-null   object
 36  fuel                           15919 non-null  object
 37  consumption                    14013 non-null  object
 38  co2_emission                   14111 non-null  object
 39  emission_class                 12898 non-null  object
 40  comfort&convenience            14999 non-null  object
 41  entertainment&media            14545 non-null  object
 42  extras                         12957 non-null  object
 43  safety&security                14937 non-null  object
 44  description                    15919 non-null  object
 45  emission_label                 3985 non-null   object
 46  gears                          11207 non-null  object
 47  country_version                7586 non-null   object
 48  electricity_consumption        137 non-null    object
 49  last_service_date              566 non-null    object
 50  other_fuel_types               880 non-null    object
 51  availability                   635 non-null    object
 52  last_timing_belt_service_date  16 non-null     object
 53  available_from                 272 non-null    object
dtypes: float64(1), int64(1), object(52)
memory usage: 6.6+ MB

In [194]:
df.columns

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat',
       'km', 'registration', 'prev_owner', 'kw', 'hp', 'type',
       'previous_owners', 'next_inspection', 'inspection_new', 'warranty',
       'full_service', 'non-smoking_vehicle', 'null', 'make', 'model',
       'offer_number', 'first_registration', 'body_color', 'paint_type',
       'body_color_original', 'upholstery', 'body', 'nr._of_doors',
       'nr._of_seats', 'model_code', 'gearing_type', 'displacement',
       'cylinders', 'weight', 'drive_chain', 'fuel', 'consumption',
       'co2_emission', 'emission_class', 'comfort&convenience',
       'entertainment&media', 'extras', 'safety&security', 'description',
       'emission_label', 'gears', 'country_version', 'electricity_consumption',
       'last_service_date', 'other_fuel_types', 'availability',
       'last_timing_belt_service_date', 'available_from'],
      dtype='object')

In [195]:
df.null.value_counts

<bound method IndexOpsMixin.value_counts of 0        []
1        []
2        []
3        []
4        []
         ..
15914    []
15915    []
15916    []
15917    []
15918    []
Name: null, Length: 15919, dtype: object>

#Kullanƒ±mƒ± olmayan s√ºtunlarƒ± √ßƒ±kartƒ±yoruz( Null y√ºzdesi %90 √ºzerinde olanlarƒ± √ßƒ±kartƒ±yoruz)

In [196]:
df.isnull().sum()/df.shape[0]*100

url                               0.000
make_model                        0.000
short_description                 0.289
body_type                         0.377
price                             0.000
vat                              28.350
km                                0.000
registration                      0.000
prev_owner                       42.892
kw                              100.000
hp                                0.000
type                              0.013
previous_owners                  41.711
next_inspection                  77.794
inspection_new                   75.300
warranty                         34.047
full_service                     48.395
non-smoking_vehicle              54.916
null                              0.000
make                              0.000
model                             0.000
offer_number                     19.945
first_registration               10.032
body_color                        3.750
paint_type                       36.259
body_color_original              23.613
upholstery                       23.368
body                              0.377
nr._of_doors                      1.332
nr._of_seats                      6.137
model_code                       68.729
gearing_type                      0.000
displacement                      3.116
cylinders                        35.681
weight                           43.809
drive_chain                      43.081
fuel                              0.000
consumption                      11.973
co2_emission                     11.357
emission_class                   18.977
comfort&convenience               5.779
entertainment&media               8.631
extras                           18.607
safety&security                   6.169
description                       0.000
emission_label                   74.967
gears                            29.600
country_version                  52.346
electricity_consumption          99.139
last_service_date                96.445
other_fuel_types                 94.472
availability                     96.011
last_timing_belt_service_date    99.899
available_from                   98.291
dtype: float64

In [197]:
df.drop(["null","available_from","last_timing_belt_service_date","availability","kw",'electricity_consumption','last_service_date', 'other_fuel_types'], axis = 1, inplace = True)

In [198]:
df.columns

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat',
       'km', 'registration', 'prev_owner', 'hp', 'type', 'previous_owners',
       'next_inspection', 'inspection_new', 'warranty', 'full_service',
       'non-smoking_vehicle', 'make', 'model', 'offer_number',
       'first_registration', 'body_color', 'paint_type', 'body_color_original',
       'upholstery', 'body', 'nr._of_doors', 'nr._of_seats', 'model_code',
       'gearing_type', 'displacement', 'cylinders', 'weight', 'drive_chain',
       'fuel', 'consumption', 'co2_emission', 'emission_class',
       'comfort&convenience', 'entertainment&media', 'extras',
       'safety&security', 'description', 'emission_label', 'gears',
       'country_version'],
      dtype='object')

In [199]:
df.shape

(15919, 46)

In [200]:
#Her s√ºtun i√ßin ayrƒ± ayrƒ± kontrol yaptƒ±k.

In [201]:
df.url.value_counts(dropna=False)

https://www.autoscout24.com//offers/audi-a1-sportback-1-4-tdi-s-tronic-xenon-navi-klima-diesel-black-bdab349a-caa5-41b0-98eb-c1345b84445e                  1
https://www.autoscout24.com//offers/opel-insignia-bus-inno-2-0-cdti-aut-navi-bi-xe-led-e6-diesel-black-8710b253-dd98-4ed0-9d46-cbad2d79532b                1
https://www.autoscout24.com//offers/opel-insignia-sport-tourer-opel-sport-tourer-1-6-cdti-136-ch-a-c-diesel-silver-10b7463b-9f56-4348-af35-df3432b2b585    1
https://www.autoscout24.com//offers/opel-insignia-2-0cdti-st-business-innovation-navi-bt-diesel-black-ba5a3368-dedc-4e51-9127-3976b26e93c2                 1
https://www.autoscout24.com//offers/opel-insignia-sport-tourer-opel-sport-tourer-1-6-cdti-136-ch-a-c-diesel-silver-7b52f054-78d3-4d5e-9370-8a7d081d7edd    1
                                                                                                                                                          ..
https://www.autoscout24.com//offers/audi-a3-sb-30-1-6-tdi-business-116cv-s-tronic-diesel-black-cf50f7b1-4d7b-466f-93a2-4e11ec0b4107                        1
https://www.autoscout24.com//offers/audi-a3-sb-30-1-6-tdi-business-116cv-s-tronic-diesel-grey-3f47eb34-15c4-4763-860d-78fcbbd2c9ff                         1
https://www.autoscout24.com//offers/audi-a3-sb-30-1-6-tdi-business-116cv-s-tronic-diesel-silver-f7a4bc95-b2ef-4bac-9497-6bcbcd05db0b                       1
https://www.autoscout24.com//offers/audi-a3-sb-30-1-6-tdi-business-116cv-s-tronic-diesel-silver-1c94c7a2-67b5-49ca-ae42-42a6800fb3f5                       1
https://www.autoscout24.com//offers/renault-espace-initiale-paris-tce-225-edc-gpf-navi-shz-aux-gasoline-grey-0bd690d9-7e93-4cab-bc5a-9d5b63402481          1
Name: url, Length: 15919, dtype: int64

In [202]:
df.drop("url",axis=1,inplace=True)

In [203]:
df.shape

(15919, 45)

In [204]:
df.make_model.value_counts(dropna=False)

Audi A3           3097
Audi A1           2614
Opel Insignia     2598
Opel Astra        2526
Opel Corsa        2219
Renault Clio      1839
Renault Espace     991
Renault Duster      34
Audi A2              1
Name: make_model, dtype: int64

In [205]:
df.make.value_counts(dropna=False)

\nOpel\n       7343
\nAudi\n       5712
\nRenault\n    2864
Name: make, dtype: int64

In [206]:
df.model.value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, A3, \n]          3097
[\n, A1, \n]          2614
[\n, Insignia, \n]    2598
[\n, Astra, \n]       2526
[\n, Corsa, \n]       2219
[\n, Clio, \n]        1839
[\n, Espace, \n]       991
[\n, Duster, \n]        34
[\n, A2, \n]             1
Name: model, dtype: int64

In [207]:
df[["make_model","make","model"]].sample(10)

          make_model         make               model
2030         Audi A1     \nAudi\n        [\n, A1, \n]
14443   Renault Clio  \nRenault\n      [\n, Clio, \n]
11137  Opel Insignia     \nOpel\n  [\n, Insignia, \n]
14339   Renault Clio  \nRenault\n      [\n, Clio, \n]
8097      Opel Astra     \nOpel\n     [\n, Astra, \n]
8523      Opel Corsa     \nOpel\n     [\n, Corsa, \n]
1804         Audi A1     \nAudi\n        [\n, A1, \n]
9955      Opel Corsa     \nOpel\n     [\n, Corsa, \n]
13314   Renault Clio  \nRenault\n      [\n, Clio, \n]
1405         Audi A1     \nAudi\n        [\n, A1, \n]

ƒ∞nceleme sonucunda make ve model s√ºtunlarƒ±na ihtiyacƒ±mƒ±z olmadƒ±ƒüƒ±na karar verdik.

In [208]:

df.drop(["make","model"],axis=1,inplace=True)

In [209]:
df.shape

(15919, 43)

In [210]:
df.short_description.value_counts(dropna=False)

SPB 1.6 TDI 116 CV S tronic Sport                 64
NaN                                               46
1.4 66kW (90CV) Selective                         40
MOVE KLIMA CD USB ALLWETTER BLUETOOTH             38
SPB 30 TDI S tronic Business                      35
                                                  ..
K Sports Tourer Business **Navi*Voll**             1
1.0 Turbo ecoFLEX Automatic Elective Park Navi     1
1.6 CDTI Business *Navi*Automatik*Spurh.*          1
1.6 136 CV Automatica Navi E 6 Garanzia Full       1
TCe 225 EDC GPF LIM Deluxe Pano,RFK                1
Name: short_description, Length: 10002, dtype: int64

In [211]:
#datayƒ± tanƒ±mlama sƒ±rasƒ±nda ihtiyacƒ±m olacaƒüƒ±nƒ± d√º≈ü√ºnd√ºƒü√ºmden daha sonraya bƒ±rakƒ±yoruz.
#df.drop("short_description",axis=1,inplace=True)

In [212]:
df.body_type.value_counts(dropna=False)

Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
NaN                60
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

In [213]:
df.body.value_counts(dropna=False)

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Sedans, \n]           7903
[\n, Station wagon, \n]    3553
[\n, Compact, \n]          3153
[\n, Van, \n]               783
[\n, Other, \n]             290
[\n, Transporter, \n]        88
NaN                          60
[\n, Off-Road, \n]           56
[\n, Coupe, \n]              25
[\n, Convertible, \n]         8
Name: body, dtype: int64

In [214]:
df[["body_type","body"]].sample(10)

           body_type                     body
13281        Compact        [\n, Compact, \n]
9466         Compact        [\n, Compact, \n]
3541          Sedans         [\n, Sedans, \n]
12373  Station wagon  [\n, Station wagon, \n]
1466         Compact        [\n, Compact, \n]
13041         Sedans         [\n, Sedans, \n]
2845          Sedans         [\n, Sedans, \n]
732           Sedans         [\n, Sedans, \n]
2304          Sedans         [\n, Sedans, \n]
15000            Van            [\n, Van, \n]

In [215]:
df.drop("body",axis=1,inplace=True)

In [216]:
df.shape

(15919, 42)

In [217]:
df.price.value_counts(dropna=False)

14990    154
15990    151
10990    139
15900    106
17990    102
        ...
17559      1
17560      1
17570      1
17575      1
39875      1
Name: price, Length: 2956, dtype: int64

In [218]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 42 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   make_model           15919 non-null  object
 1   short_description    15873 non-null  object
 2   body_type            15859 non-null  object
 3   price                15919 non-null  int64
 4   vat                  11406 non-null  object
 5   km                   15919 non-null  object
 6   registration         15919 non-null  object
 7   prev_owner           9091 non-null   object
 8   hp                   15919 non-null  object
 9   type                 15917 non-null  object
 10  previous_owners      9279 non-null   object
 11  next_inspection      3535 non-null   object
 12  inspection_new       3932 non-null   object
 13  warranty             10499 non-null  object
 14  full_service         8215 non-null   object
 15  non-smoking_vehicle  7177 non-null   object
 16  offer_number         12744 non-null  object
 17  first_registration   14322 non-null  object
 18  body_color           15322 non-null  object
 19  paint_type           10147 non-null  object
 20  body_color_original  12160 non-null  object
 21  upholstery           12199 non-null  object
 22  nr._of_doors         15707 non-null  object
 23  nr._of_seats         14942 non-null  object
 24  model_code           4978 non-null   object
 25  gearing_type         15919 non-null  object
 26  displacement         15423 non-null  object
 27  cylinders            10239 non-null  object
 28  weight               8945 non-null   object
 29  drive_chain          9061 non-null   object
 30  fuel                 15919 non-null  object
 31  consumption          14013 non-null  object
 32  co2_emission         14111 non-null  object
 33  emission_class       12898 non-null  object
 34  comfort&convenience  14999 non-null  object
 35  entertainment&media  14545 non-null  object
 36  extras               12957 non-null  object
 37  safety&security      14937 non-null  object
 38  description          15919 non-null  object
 39  emission_label       3985 non-null   object
 40  gears                11207 non-null  object
 41  country_version      7586 non-null   object
dtypes: int64(1), object(41)
memory usage: 5.1+ MB

vat da nan deƒüerleri ne yapacaƒüƒ±z?

In [219]:
df.vat.value_counts(dropna=False)

VAT deductible      10980
NaN                  4513
Price negotiable      426
Name: vat, dtype: int64

In [220]:
df.km.value_counts(dropna=False)

10 km        1045
- km         1024
1 km          367
5 km          170
50 km         148
             ...
67,469 km       1
43,197 km       1
10,027 km       1
35,882 km       1
57 km           1
Name: km, Length: 6690, dtype: int64

In [221]:
df[["price","km"]].sort_values(by= "price",ascending=False).head(20)

       price         km
3648   74600  13,000 km
15826  68320   4,307 km
3649   67600  37,747 km
3587   64900  35,000 km
15828  64332       1 km
15831  64298      15 km
3595   63900      10 km
15833  63477       8 km
3590   62900     700 km
3594   58990   7,500 km
15808  58950   1,136 km
3593   58500  10,000 km
15807  57990   5,000 km
15809  57800   1,000 km
3596   57400  63,000 km
15392  56950      11 km
3592   56900   5,200 km
3597   56100   8,364 km
15810  55800   1,000 km
15811  55285      12 km

In [222]:
df.km.str.replace(',','').str.extract('(\d{1,8})')

           0
0      56013
1      80000
2      83450
3      73000
4      16200
...      ...
15914    NaN
15915   9900
15916     15
15917     10
15918    NaN

[15919 rows x 1 columns]

In [223]:
df["km"] = df.km.str.replace(',','').str.extract('(\d{1,8})')[0].astype('float')

In [224]:
df.km.value_counts(dropna=False)

10.000       1045
NaN          1024
1.000         367
5.000         170
50.000        148
             ...
67469.000       1
43197.000       1
10027.000       1
35882.000       1
57.000          1
Name: km, Length: 6690, dtype: int64